/* style.css */


.header,
.header-right,
.first,
.second-body,
.inspire,
.footer {display:flex
}

.second-body-one,
.second-body-two,
.second-body-three,
.second-body-four,
.inspire {display:flex;
flex-direction:column;
}

.body { margin:0px;}

.header {gap: 100px;
    align-items: center;
    justify-content: Center;
    color:#E5E7EB;
}

.header-left,
.header-right {flex: 1;}


.header-logo {
    font-size:24px;
}
.header-link {flex:1;}

.first-button{height:150px;
    width:150px;

}
.first-left{flex: 1;}

.first-right{flex:1;}


.header,
.first {background-color:#1F2937;}

.inspire {background-color:#E5E7Eb}

.second,
.inspire,
.footer {color:#1f2937
}


.first-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8
}

.first-img {Height: 300px;
width: 400px;
}

.first-subtext{display:inline;
}

.first-button {background-color:#3882F6
}

.second-boxes {
font-size:45px;
padding: 0px;
border: 3px solid #3882F6;
display:column;
}

.second-body{
    padding:10px;
}
.second-body-one,
.second-body-two,
.second-body-three,
.second-body-four {flex:1;}
.second-body {align-items:center;
justify-content:center;
flex: 1;}


.inspire-quote {font-size: 40px;
}

.footer {justify-content:end;}
